
.env
# Ignore environment variable files
# This file contains sensitive information and should not be tracked by Git 
# Uncomment the following lines if you want to ignore specific environment variables
# .env.local
*/migrations/*
/__pycache__/*
*.pyc
*.sqlite3


