aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
arabic-reshaper
asgiref
attrs
backoff
bcrypt
billiard
build
cachetools
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
distro
Django
django-cors-headers
django-redis
django-simple-history
djangorestframework
djangorestframework_simplejwt
drf-yasg
durationpy
filelock
flatbuffers
freezegun
frozenlist
fsspec
google-auth
greenlet
grpcio
gunicorn
h11
httpcore
httptools
httpx
httpx-sse
idna
importlib_metadata
importlib_resources
inflection
iniconfig
jalali_core
jdatetime
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kavenegar
kombu
kubernetes
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
multidict
mypy_extensions
networkx
oauthlib
orjson
overrides
packaging
pillow
pillow_heif
pluggy
posthog
prompt_toolkit
propcache
protobuf
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
PyPika
pyproject_hooks
pyreadline3
pytest
pytest-cov
pytest-django
python-bidi
python-dateutil
python-decouple
python-dotenv
pytz
PyYAML
qrcode
redis
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
setuptools
shellingham
six
sniffio
SQLAlchemy
sqlparse
sympy
tenacity
threadpoolctl
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
watchfiles
wcwidth
websocket-client
yarl
zipp
zstandard
